In [1]:
import pandas as pd

In [18]:
df=pd.read_csv("glass.csv")
df.tail(10)

          RI     Na   Mg    Al     Si     K    Ca    Ba   Fe  Type
204  1.51617  14.95  0.0  2.27  73.30  0.00  8.71  0.67  0.0     7
205  1.51732  14.95  0.0  1.80  72.99  0.00  8.61  1.55  0.0     7
206  1.51645  14.94  0.0  1.87  73.11  0.00  8.67  1.38  0.0     7
207  1.51831  14.39  0.0  1.82  72.86  1.41  6.47  2.88  0.0     7
208  1.51640  14.37  0.0  2.74  72.85  0.00  9.45  0.54  0.0     7
209  1.51623  14.14  0.0  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.0  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.0  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.0  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.0  2.08  73.36  0.00  8.62  1.67  0.0     7

In [17]:
df['Type'].value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64